
{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %} <title>Virtual Church : Home</title>{% endblock %}
<section class="slick-slideshow">   
  <div class="slick-custom">
      <img src="{% static 'images/slideshow/medium-shot-business-women-high-five.jpeg' %}" class="img-fluid" alt="">

      <div class="slick-bottom">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-6 col-10">
                      <h3 class="slick-title">Welcome Home</h3>

                      <p class="lead text-white mt-lg-3 mb-lg-5">Our Virtual Church is a place where you can connect with God, grow spiritually, and engage with a loving community</p>

                        <ul class="social-icon justify-content-center">

                            <li><a href="#" class="social-icon-link social-icon-link--carousel bi-youtube"></a></li>

                            <li><a href="#" class="social-icon-link social-icon-link--carousel bi-whatsapp"></a></li>

                            <li><a href="#" class="social-icon-link social-icon-link--carousel bi-instagram"></a></li>

                            <li><a href="#" class="social-icon-link social-icon-link--carousel bi-skype"></a></li>
                        </ul>

                      <a href="#" class="btn custom-btn justify-content-center">Latest NewsLetter</a>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="slick-custom">
      <img src="{% static 'images/slideshow/team-meeting-renewable-energy-project.jpeg' %}" class="img-fluid" alt="">

      <div class="slick-bottom">
          <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-10">
                    <h3 class="slick-title">Welcome Home</h3>

                    <p class="lead text-white mt-lg-3 mb-lg-5">Our Virtual Church is a place where you can connect with God, grow spiritually, and engage with a loving community</p>

                      <ul class="social-icon justify-content-center">

                          <li><a href="#" class="social-icon-link social-icon-link--carousel bi-youtube"></a></li>

                          <li><a href="#" class="social-icon-link social-icon-link--carousel bi-whatsapp"></a></li>

                          <li><a href="#" class="social-icon-link social-icon-link--carousel bi-instagram"></a></li>

                          <li><a href="#" class="social-icon-link social-icon-link--carousel bi-skype"></a></li>
                      </ul>

                    <a href="#" class="btn custom-btn justify-content-center">Latest NewsLetter</a>
                </div>
            </div>
          </div>
      </div>
  </div>

  <div class="slick-custom">
      <img src="{% static 'images/slideshow/two-business-partners-working-together-office-computer.jpeg' %}" class="img-fluid" alt="">

      <div class="slick-bottom">
          <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-10">
                    <h3 class="slick-title">Welcome Home</h3>

                    <p class="lead text-white mt-lg-3 mb-lg-5">Our Virtual Church is a place where you can connect with God, grow spiritually, and engage with a loving community</p>

                      <ul class="social-icon justify-content-center">

                          <li><a href="#" class="social-icon-link social-icon-link--carousel bi-youtube"></a></li>

                          <li><a href="#" class="social-icon-link social-icon-link--carousel bi-whatsapp"></a></li>

                          <li><a href="#" class="social-icon-link social-icon-link--carousel bi-instagram"></a></li>

                          <li><a href="#" class="social-icon-link social-icon-link--carousel bi-skype"></a></li>
                      </ul>

                    <a href="#" class="btn custom-btn justify-content-center">Latest NewsLetter</a>
                </div>
            </div>
          </div>
      </div>
  </div>

</section>

<section class="products pt-5">
    <div class="container">
        <div class="row">
            <div class="card mb-3 border-0">
                <div class="row no-gutters border-0">
                  <div class="col-md-6">
                    <img src="{% static 'images/sundayService.avif' %}" class="img-fluid" alt="Sunday Service">
                  </div>
                  <div class="col-md-5">
                    <div class="card-body">
                      <h5 class="card-title">You're invited!</h5>
                      <h6 class="">Services on Sundays - Festac Town</h6>
                      <strong class="">10:00 & 12:00</strong>
                      <p id="staticEventDesc" class="">
                        Experience the next level of augmented reality with smart
                        goggles integrating cutting-edge AI for seamless interaction
                        with the world around you.
                    </p>
                      <p id="staticEventDesc" class="my-4 max-w-lg text-pretty text-sm">
                        One80 Youth Group meets every Friday at 18:30 for our teens at the church. If you're 14-18, we’d love to see you there for a time of connection, fun, and growing together!
                    </p>
                      <p id="staticEventDesc" class="my-4 max-w-lg text-pretty text-sm">
                        For our nursing moms, we’ve created a cozy, private space in the kitchen area where you can care for your little ones. Plus,
                         our family bathroom has a convenient changing station for your needs. We can't wait to welcome you and your family!
                    </p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>

<section class="eventSection">
    <div class="container">
        
        {% for event in events %}
        <div class="row justify-content-center py-4 event">
            <div class="col-sm-5">
                <a href="{% url 'event_details' event.id %}">
                    <img src="{% static 'images/product/evan-mcdougall-qnh1odlqOmk-unsplash.jpeg' %}" class="img-fluid product-image" alt="">
                </a>
            </div>
            <div class="col-sm-5 eventInfo d-flex">
                <div>
                    <h5 class="product-title mb-0">
                        <a href="{% url 'event_details' event.id %}" class="product-title-link">{{ event.title }}</a>
                    </h5>
                
                    <p class="product-p">{{ event.event_type }} </p>
                </div>
            
            </div>
        </div>
        {% empty %}
        <p>No events available.</p>
        {% endfor %}
    </div>
</section>



{% endblock content %}