
{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %} <title>Virtual Church : Home</title>{% endblock %}
<section class="slick-slideshow">   
  <div class="slick-custom">
      <img src="{% static 'images/slideshow/medium-shot-business-women-high-five.jpeg' %}" class="img-fluid" alt="">

      <div class="slick-bottom">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-6 col-10 justify-content-center">
                      <h1 class="slick-title">Welcome Home</h1>

                      <h5 class="text-white mt-lg-3 mb-lg-5">You belong here!</h5>

                        <ul class="social-icon justify-content-center">

                            <li><a href="#" class="social-icon-link--carousel bi-youtube"></a></li>

                            <li><a href="#" class="social-icon-link--carousel bi-whatsapp"></a></li>

                            <li><a href="#" class="social-icon-link--carousel bi-instagram"></a></li>

                            <li><a href="#" class="social-icon-link--carousel bi-skype"></a></li>
                        </ul>

                      <a href="#" class="btn custom-btn justify-content-center">Latest NewsLetter</a>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="slick-custom">
      <img src="{% static 'images/slideshow/team-meeting-renewable-energy-project.jpeg' %}" class="img-fluid" alt="">

      <div class="slick-bottom">
          <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-10">
                    <h1 class="slick-title">Welcome Home</h1>

                    <p class="lead text-white mt-lg-3 mb-lg-5">Our Virtual Church is a place where you can connect with God, grow spiritually, and engage with a loving community</p>

                      <ul class="social-icon justify-content-center">

                          <li><a href="#" class="social-icon-link--carousel bi-youtube"></a></li>

                          <li><a href="#" class="social-icon-link--carousel bi-whatsapp"></a></li>

                          <li><a href="#" class="social-icon-link--carousel bi-instagram"></a></li>

                          <li><a href="#" class="social-icon-link--carousel bi-skype"></a></li>
                      </ul>

                    <a href="#" class="btn custom-btn justify-content-center">Latest NewsLetter</a>
                </div>
            </div>
          </div>
      </div>
  </div>

  <div class="slick-custom">
      <img src="{% static 'images/slideshow/two-business-partners-working-together-office-computer.jpeg' %}" class="img-fluid" alt="">

      <div class="slick-bottom">
          <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-10">
                    <h1 class="slick-title">Welcome Home</h1>

                    <p class="lead text-white mt-lg-3 mb-lg-5">Our Virtual Church is a place where you can connect with God, grow spiritually, and engage with a loving community</p>

                      <ul class="social-icon justify-content-center">

                          <li><a href="#" class="social-icon-link--carousel bi-youtube"></a></li>

                          <li><a href="#" class="social-icon-link--carousel bi-whatsapp"></a></li>

                          <li><a href="#" class="social-icon-link--carousel bi-instagram"></a></li>

                          <li><a href="#" class="social-icon-link--carousel bi-skype"></a></li>
                      </ul>

                    <a href="#" class="btn custom-btn justify-content-center">Latest NewsLetter</a>
                </div>
            </div>
          </div>
      </div>
  </div>

</section>



{% endblock content %}