

{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %} <title>Virtual Church : Resources </title>{% endblock %}

<header class="site-header d-flex justify-content-center align-items-center"
        style="padding: 30px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-12">
                <h1 class="mb-0">
                    <span class="text-primary">Our</span>
                    <span class="text-dark">Resources</span>
                </h1>
            </div>
        </div>
    </div>
</header>

<section class="team section-padding">
  <div class="container">

    
    
      <div class="row">


          <form method="get" class="mb-4">
            <select name="type" class="form-select w-auto d-inline" onchange="this.form.submit()">
                <option value="">All Resource Types</option>
                {% for type in resource_types %}
                    <option value="{{ type.id }}" {% if selected_type == type.id %}selected{% endif %}>{{ type.name }}</option>
                {% endfor %}
            </select>
        </form>

          {% if resources %}
          {% for resource in resources %}
          <div class="col-lg-4 mb-4 col-12">
              <div class="team-thumb d-flex align-items-center">
                  <img src="{% static 'images/people/senior-man-wearing-white-face-mask-covid-19-campaign-with-design-space.jpeg' %}" class="img-fluid custom-circle-image team-image me-4" alt="">

                  <div class="team-info">
                      <h6 class="mb-0">{{ resource.title }}</h6>
                      <a class="text-muted">{{ resource.description }} </a>

                  </div>
                 
                
              </div>
              {% if resource.files %}
              <a href="{{ resource.files.url }}" download style="color: rgb(56, 136, 80); font-weight: bold; "><span class="product-alert me-auto" >Click to Download</span></a>
                {% endif %}
          </div>

          {% endfor %} 
          {% else %}
          <p>No resources available.</p>
      {% endif %}
         
      </div>
  </div>
</section>
{% endblock content %}