/* Add your custom CSS styles here */
#staticEventDesc {
    font-size: 1rem;
}

.eventSection {
    background-color: #FF4400;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

/* .social-icon-link--carousel::before {
    color: white !important;
    font-size: 1.5rem !important;
}

.social-icon-link--carousel:hover {
    color: #FF4400 !important;
} */
.event {
    overflow: hidden;
    border-top: 1px solid gray;
    width: 100%;
    height: 250px;
    background-color: white;
}
.eventInfo {
    min-height: 210px !important;
    height: fit-content;
    margin-bottom: 10px;
    overflow: hidden;
    
}
.eventImage {
    position: relative;
    height: 100%;

    img {
        max-height: 100%;
    }
}
  
.event-cross-date {
    background: rgba(61, 59, 77, 1);
    font-size: 15px !important;
    z-index: 1;
  
    border: none;
    width: 97px;
    height: 110px;
    display: flex;
    
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
}

/* .social-icon-link::before {
    color: white !important;
    font-size: 1.5rem !important;
} */
